/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
} */
/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #230741, #082350);
}
